/* frontend/src/styles/HealthBar.css */

.health-bar-container {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #1e3d24;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
}

.health-bar {
  height: 100%;
  transition: width 1s ease, background-color 0.5s ease;
}

.high-health {
  background-color: #28a745; /* Зеленый цвет для полного здоровья */
}

.normal-health {
  background-color: #ffc107; /* Желтый цвет для нормального здоровья */
}

.low-health {
  background-color: #dc3545; /* Красный цвет для низкого уровня здоровья */
}

.health-bar-text {
  position: absolute;
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
  top: 0;
  left: 0;
  line-height: 25px; /* Центрирование текста */
}
