/* src/styles/MainLayout.css */

/* Основной контейнер */
.main-layout-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 0;
  box-sizing: border-box;
}

/* Заголовок игры */
.game-header {
  padding: 20px 0;
  text-align: center;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-title {
  margin: 0;
  font-size: 2.5rem;
  color: #333;
}

/* Основной контент */
.main-content {
  display: flex;
  margin-top: 20px;
  width: calc(265px + 57px + 945px);
  column-gap: 57px;
}

/* Боковая панель */
.sidebar {
  width: 265px;
  flex-shrink: 0;
}

/* Центральное окно игры */
.game-content-container {
  width: 945px;
  flex-shrink: 0;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  border: 1px solid #ddd;
  box-sizing: border-box;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

/* Стили для карточки игрока и меню кнопок */
.player-info-container,
.button-menu-container {
  background-color: #ffffff;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/* Адаптация текста внутри карточек */
.player-info-container h3,
.button-menu-container button {
  font-size: 14px;
  line-height: 1.2;
  word-wrap: break-word;
  word-break: break-word;
}

/* Стили для кнопок меню */
.button-menu-container {
  display: flex;
  flex-direction: column;
}

.btn-primary {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  box-sizing: border-box;
}

.btn-primary:hover {
  background-color: #0056b3;
}

/* Основное окно контента игры */
.game-content {
  background-color: transparent;
  padding: 0;
  border-radius: 0;
  flex: 1; /* Устанавливаем для адаптации содержимого */
}

/* Нижняя панель */
.bottom-panel {
  display: flex;
  margin-top: 20px;
  width: calc(265px + 57px + 945px);
  column-gap: 57px;
}

/* Окно списка игроков */
.player-list-container {
  width: 265px;
  flex-shrink: 0;
  background-color: #f4f4f4;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
}

/* Стили для контейнера чата */
.chat-container {
  flex: 1;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  overflow-y: auto;
}

/* Стили для списка игроков внутри контейнера */
.player-list-container ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.player-list-container li {
  margin-bottom: 8px;
  font-size: 14px;
}

/* Адаптация при уменьшении ширины экрана */
@media (max-width: 1200px) {
  .main-content,
  .bottom-panel {
    flex-direction: column;
    width: 100%;
    column-gap: 0;
  }

  .sidebar,
  .game-content-container,
  .player-list-container,
  .chat-container {
    width: 100%;
    margin-right: 0;
  }
}
