/* src/styles/MonsterInfo.css */

.monster-info-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.monster-info-container h3 {
  margin: 5px 0;
  font-size: 1.2rem;
  color: #333;
}