/* src/styles/PlayerInfo.css */

.player-info {
  display: flex;
  flex-direction: column;
  width: 100%;
}
  .player-info-header {
    display: flex;
    align-items: center;
  }

  .player-info-header h3 {
    margin: 0;
    font-size: 1.2rem; /* Одинаковый размер шрифта */
  }

  .info-button, .logout-button {
    margin-left: 10px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1rem;
  }

  .info-button:hover {
    color: #007bff;
  }

  .logout-button {
    color: #dc3545;
  }

  .logout-button:hover {
    color: #c82333;
  }
